.contact-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.contact-title {
  font-size: 35px;
  text-align: center;
  color: red;
  margin-top: 15px;
}

.contact-subtitle {
  font-size: 22px;
  margin-top: 0px;
}

.email {
  font-weight: bold;
}

.phone {
  font-weight: bold;
}

.contact-margin {
  margin: 30px;
}

.contact-icon {
  color: red;
  transform: scale(1.2);
}
