.container {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  height: 100px;
  text-align: center;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  max-width: 100%;
}

.credentials {
  flex: 1;
  text-align: center;
  padding-top: 15px;
}

.login-container {
  padding-top: 15px;
}

.button-container {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.image {
  flex: 9;
  border-right: 1px solid rgb(0, 0, 0, 0.2);
}

.image-cursor {
  cursor: pointer;
}

.button {
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  padding: 8px 15px 10px 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
}

.button:hover {
  background-color: white;
  color: red;
}

.icon {
  padding-right: 10px;
  color: red;
  transform: scale(2);
}

.user-name {
  padding-right: 5px;
}
